html, body {
    margin: 0;
    background-color: azure;
}

h1 {
    text-align: center;
}

h6 {
    text-align: center;
}

.exercise {
    background-color: coral;
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-right: 30px;
}

#exercise-dropdown {
    font-size: 20px;
}

.intensity {
    background-color: rgb(80, 252, 255);
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-right: 30px;
}

#intensity-dropdown {
    font-size: 20px;
}

.training {
    background-color: rgb(255, 86, 80);
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-right: -30px;
}

#training-dropdown {
    font-size: 20px;
}

.container {
    max-width: fit-content;
}

.feedback-form {
    padding-left: 80px;
    padding-right: 40%;
    position: relative;
    text-align: left;
}

#gabbyButton {
    background-image: url("../img/clouds.jpg");
}

input {  
    margin-left: 10px; 
    margin-bottom: 10px; 
    margin-right: 30px; 
}

label {
    display: inline-block;
    width: 80px;
}

textarea {  
    margin-left: 10px; 
    margin-bottom: 0px; 
}

.btn {
    background-color: white;
}

.thead {
    background-color: rgb(43, 42, 42);
    color: white
}

.source {
    text-align: center;
}