html, body {
    margin: 0;
    /* background: url(../img/dumbbell-bg.png);
    background-repeat: no-repeat;
    background-size: cover; */
    color: white;
    background-color: rgb(17, 17, 17);
}

h1 {
    text-align: center;
}

h6 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.exercise {
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 20px;
    box-shadow: 0 5px 10px 0 rgb(255, 255, 255), 0 10px 50px 0 rgb(255, 255, 255);
    margin-right: -10%;
    margin-bottom: 20px;
}

#exercise-dropdown {
    font-size: 20px;
    width: 150px;
}

.intensity {
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 20px;
    box-shadow: 0 5px 10px 0 rgb(255, 255, 255), 0 10px 50px 0 rgb(255, 255, 255);
    margin-right: -10%;
    margin-bottom: 20px;
}

#intensity-dropdown {
    font-size: 20px;
    width: 150px;
}

.training {
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 20px;
    box-shadow: 0 5px 10px 0 rgb(255, 255, 255), 0 10px 50px 0 rgb(255, 255, 255);
    margin-right: -10%;
    margin-bottom: 20px;
}

#training-dropdown {
    font-size: 20px;
    width: 150px;
}

.container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .training-group {
        padding-left: 44%;
        padding-right: 27%; 
    }

    .exercise-group {
        padding-left: 44%;
        padding-right: 27%; 
    }

    .intensity-group {
        padding-left: 44%;
        padding-right: 27%; 
    }
}

.feedback-form {
    padding-left: 80px;
    padding-right: 35%;
    text-align: left;
}

.buttons {
    justify-content: center;
    padding-left: 45%;
    padding-right: 40%; 
    margin-top: 100px;
}

#gabbyButton {
    background-image: url("../img/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

input {  
    margin-left: 10px; 
    margin-bottom: 10px; 
    margin-right: 30px; 
}

label {
    display: inline-block;
    width: 80px;
}

textarea {  
    margin-left: 10px; 
    margin-bottom: 0px; 
}

.btn {
    background-color: white;
}

.table-show {
    padding-left: 2%;
}

#exercise-table {
    display: none;
}

.thead {
    background-color: rgb(0, 0, 0);
    color: white
}

footer {
    background-color: rgb(17, 17, 17);
    padding: 2%;
}

tbody {
    color: white;
}